<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../CSS/login.css">
    <link href="../CSS/sing-up.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <img src="../../Assets/Images/logo-RR.png" alt="Logo RR">
            <p>MEGA ROCKET S.A</p>
        </div>
        <div>
            <img class="burguer-button" src="../../Assets/Images/Icon-aside.png" alt="Nav">
        </div>
        <div class="container-login-header">
            <a href="login.html" class="button-login">
                Login
                <img src="../../Assets/Images/Login.jpg" alt="Login">
            </a>
            <a href="sing-up.html" class="button-login">
                Sing up
                <img src="../../Assets/Images/Signup.png" alt="Singup">    
            </a>
        </div>
    </header>
    <main>
        <a href="index.html" class="button-back">
            Back
        </a>   
        <form id="formulario" class="container-form-login">
            <div class="container-form">
                <div class="form-label-input">
                    <label for="Email">Email</label>
                    <input type="text" name="Email" placeholder="E-mail" id="email">
                    <div class="errorDiv"></div>
                </div>
                <div class="form-label-input">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" placeholder="Password" id="password">
                    <div class="errorDiv"></div>
                </div>
            </div> 
            <input type="submit" name="Send" placeholder="Send" value="Send" class="button-send">
            <a href="sing-up.html" class="question">
                Create account
            </a>
        </form>
        <script src="../js/login.js"></script>
    </main>
    <footer id="footer">
        <div class="container-social">
            <div>
                <img src="../../Assets/Images/instagram.png" alt="Instagram">
                <a href="https://msng.link/o/?radium.rocket=ig">@ROCKETGYM</a>
            </div>
            <div>
                <img src="../../Assets/Images/whatsapp.png" alt="WhatsApp">
                <a href="https://web.whatsapp.com/">+1 408 741 2369</a>
            </div>
            <div>
                <img src="../../Assets/Images/facebook.png" alt="Facebook">
                <a href="https://es-la.facebook.com">Mega rocket GYM</a>
            </div>
        </div>
        <div class="container-info">
            <div class="container-phone-addres">
                <img src="../../Assets/Images/Adress.png" alt="Adress">
                <p>Av. Pellegrini  3535</p>
            </div>
            <div class="container-phone-addres">
                <img src="../../Assets/Images/Phone.png" alt="Phone">
                <p>+464 206 96</p>
            </div>
        </div>
        <p class="copyright">MEGA ROCKET SA
            <span>All rights reserved. 2023©</span>
        </p>
    </footer>  
</body>
</html>