.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 154px;
    padding: 0 30px;
    background-color: #323232 ;
}

.container-logo p {
    display: none;
    color: #E3EC39;
    font-size: 2rem;
    font-weight: bold;
}

.burguer-button {
    display: flex;
    align-items: end;
}

.container-login-header {
    display: none
} 

@media screen and (min-width:1024px) {
    .container-logo p {
        display: block;
    }

    .container-login-header {
        display: block;    
    }

    .button-login {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 66px;
        border-radius: 10px;
        background-color: white; 
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }

    .button-login img {
        width: 38px;
        height: 38px; 
    }

    .burguer-button {
        display: none;
    }    
}