main {
    display: flex;
    width: 100%;
    background-color: #535353;
}

.aside-mobile {
    display: flex;
    width: 100%;
    background-color: #212121;
}

.container-login {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    text-transform: uppercase;
}

.aside-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
}

.container-info-aside {
    display: none;
}

.container-sections {
    width: 100%;
}

.container-dontsit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 690px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/dontsit-iphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-text-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: white;
    font-size: 20px;
}

.container-features ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    gap: 2rem;
}

.container-features li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #E3EC39;
    font-size: 40px;
    text-align: center;
}

.box-reservation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Reservation.png");
}

.box-schedule {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/schedule.jpg"); ;
}

.box-memberships {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/membership.jpg");
}

.box-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/conttact.png");;
}

.description-features {
    color: #ffffff;
    font-size: 1.2rem;    
}

.container-contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 626px;
    bottom: 250px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border: solid #97979700;
    border-radius: 30px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-label-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-form input {
    width: 292px;
    height: 20px;
    border-radius: 5px;
    background-color:#E0E0E0;
}

.container-form select {
    width: 292px;
    height: 25px;
    border-radius: 5px;
    background-color:#E0E0E0;
}

.container-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 1rem;
}

.container-message label {
    text-align: start;
}

.container-message input {
    display: flex;
    width: 90%;
    height: 132px;
    border-radius: 10px;
    background-color:#E0E0E0
}

.button-send {
    margin: auto;
    width: 74px;
    height: 34px;
    border:solid #97979700;
    border-radius: 5px;
    background-color: #E3EC39;
}

.cards-activities-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem
}

.cards-activities-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem;
}

.container-activities p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.box-cross {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Crossfit.jpg");
}

.box-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Box.png");
}

.box-funct {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/functional.jpg");
}

.box-spinn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Spinning.png");
}

.box-fit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/fitness.jpg");
}

.container-member ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.container-member ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container-member h4 {
    color:#E3EC39;
    font-size: 30px;
}

.container-member p {
    color:#ffffff;
    font-size: 20px;
    text-transform: uppercase;
}

.box-blackmember {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Black-membership.png");
}

.box-classicmember {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Classic-membership.png");
}

.box-onlyclasses {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Only-classes-member.png");
}

.container-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 320px;
    height: 159px;
    margin: 2rem auto;
    border-radius: 10px;
    border:solid #97979700;
    background-color: #a3a3a3;
    font-size: 0.8rem;
    text-align: center;
}


@media screen and (min-width: 605px and max-width: 1024px) {    
    .container-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 1rem;
    }

    .form-label-input {
        align-items: start;
    }

    .form-label-input select {
        width: 200px;
        height: 25px;
    }

    .container-form input {
        width: 190px;
        height: 20px;
    }

    .container-message label {
        align-self: start;
        position: relative;
        left: 3rem;
    }
}

@media screen and (min-width:1025px) {
    .container-sections {
        width: 80%;
    }

    .aside-mobile {
        display: none;
    }
    
    .aside-desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 336px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: #D5DD3C;
    }

    .aside-desktop a {
        text-align: center;
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
        font-weight: bold;
    }

    .container-info-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-dontsit {
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/DontsitgetFit.png");    
    }

    .container-text-home {
        display: flex;
        flex-direction: column;
    }

    .container-tittles {
        font-size: 100px;
    }

    .container-tittles span {
        font-size: 100px;
    }

    .container-contact {
        height: 500px;
    }

    .container-member ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-member ul li {
        width: 480px;
        height: 575px;
    }

    .container-ourstory {
        display: flex;
        flex-direction: row;
        align-items:center;
        margin: 0 0.9rem;
    }

    .container-story {
        height: 165px;
        width: 597px;
        padding: 1.2rem;
        font-size: 24px;
    }
}